 
        body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3vw;
            margin: 1rem auto;
            margin-top: 2rem;
            max-width: 80vw;
        }

        span{
            font-family: Baskerville-italic;
            font-size: 3.9vw;
            color:black;
         }
        
        .knapp {
            position: absolute;
            padding: 10px 5px 10px 5px;
            bottom: 4vw;
            right: 10vw;
            border: black 3px solid;
            border-radius: 50%;
        }

        .knapp:hover{
            text-decoration: underline;
            
            
        }
        .link {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            cursor: grabbing;
            
        }
        /* .above{
            z-index: 9;
            width: 100vw;
            height: 100vh;
            position: relative;
        } */
        .bild-1{
            z-index: 0;
            position: abosluto;
            top: 2vh;
            max-width: 600px;
            display: block;
            margin: auto;
            animation: pop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1, float 10s ease infinite 1s;

        }

        @keyframes pop {
            from{transform: scale(0);}
            to{transform: scale(1);}
        }

        @keyframes reveal {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  @keyframes slide-in-left {
    0%{transform:translateX(70vw);}
    100%{transform:translateX(0vw);}
    
  }
  @keyframes slide-in-left-2 {
    0%{transform:translateX(70vw);}
    90%{transform:translateX(70vw);}
    100%{transform:translateX(0vw);}
    
  }
  
  @keyframes .slide-in-right {
    0%{transform:translateX(-70vw);}
    100%{transform:translateX(0vw);}
    
  }

  .reveal{
    animation: reveal 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation
    opacity:0
  }

  .slide-in-left{
    animation: slide-in-left 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: inline-block;
  }
  .slide-in-left-2{
    animation: slide-in-left-2 5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: inline-block;
  }

  .slide-in-right{
    animation: slide-in-right 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: inline-block;
  }

  .NP{
            position: absolute;
            padding: 10px 5px 10px 5px;
            bottom: 30vh;
            right: 10vw;
            font-size: 2vh;
            text-align: left;
            writing-mode: vertical-rl;

            /* transform: rotate(90deg); */
            animation: reveal 1s 2s, float 5s cubic-bezier(0.165, 0.84, 0.44, 1)infinite, blink 10s linear infinite;

  }

 @keyframes blink {
    50%{color: red;}

 } 
  @keyframes float {
    50%{transform: translateY(-30px);}
  }