                :root{
                --mono: 'Xanh Mono';
        }

        @keyframes pop {
          from{transform: scale(0);}
          to{transform: scale(1);}
      }

      @keyframes reveal {
  0%{opacity: 0;}
  99%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes slide-in-left {
  0%{transform:translateX(70vw);}
  100%{transform:translateX(0vw);}
  
}
@keyframes slide-in-left-2 {
  0%{transform:translateX(70vw);}
  50%{transform:translateX(70vw);}
  100%{transform:translateX(0vw);}
}

@keyframes slide-in-right {
  0%{transform:translateX(-70vw);}
  100%{transform:translateX(0vw);}
  
}


        body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3vw;
            margin: 6vh 10vw 0vw 6vw;
            /* overflow: hidden; */
            /* background-color: magenta; */
        }

        span{
            font-family: Baskerville-italic;
            font-size: 3.9vw;
            color:black;
         }

         .lh {
            line-height: 1;
            max-width: 70vw;;

         }
        
        .knapp {
            position: absolute;
            padding: 10px 25px 15px 30px;
            bottom: 4vw;
            right: 5vw;
            border: black 3px solid;
            border-radius: 50%;
        }

        

        .info {
          position: absolute;
          padding: 1vw 5vw 1vw 5vw;
          bottom: 4vw;
          right: 5vw;
          border: black 3px solid;
          border-radius: 50%;
          text-align:center;
          /* background-color: white; */
      }

      .info:hover {
        transform: scale(1.1);
        transition-duration: 0.1s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        text-decoration: underline;

      }
      .knapp:hover {
        transform: scale(1.1);
        transition-duration: 0.1s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        text-decoration: underline;

      }

        
        .link {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            cursor: grab;
            
        }
      
        .bild-1{
            /* position: fixed; */
            /* top: 2vh; */
            /* align-self: center; */
            /* justify-self: center; */
            margin-top: -10vh;
            margin-left: auto;
            margin-right: auto;
            width: 80vh;
            display: block;
            /* margin: 0vh 0vh 0vh 0vh ; */
            animation: pop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), float 10s ease 1s infinite;
        }

        .img-container{
          z-index: 1;
          position: absolute;
          /* top: 2vh; */
          /* align-self: center; */
          /* justify-self: center; */
          margin-left: auto;
          margin-right: auto;
          width: 80vh;
          display: flex;
          /* margin: auto; */
          animation: pop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1, float 10s ease infinite;

      }



  .reveal{
    animation: reveal 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    opacity:0
  }

  .slide-in-left{
    animation: slide-in-left 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: inline-block;
    position: relative;
    z-index: 2;
  }
  .slide-in-left-2{
    animation: slide-in-left-2 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: inline-block;
    position: absolute;
    z-index: 2;

  }

  .slide-in-right{
    animation: slide-in-right 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: inline-block;
  }

  .ruta {
    background-color: white;
    backdrop-filter: blur(5vw);
    border-radius: 2vh;
    padding:6vh 6vw 3vh 6vw;
    text-align: left;
    width: 50vw;
    height: 50vh;
    margin-bottom: 5vh;
    font-size: 4vh;
    max-width: 600px;
    line-height: 1.2;
    overflow:scroll;
    display:block;
    white-space: wrap;
  }
  .ruta-2 {
    /* background-color: white; */
    position: relative;
    -webkit-backdrop-filter: blur(5vw);
    backdrop-filter: blur(5vw);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.044);
    border-radius: 2vh;
    padding:6vh 5vw 3vh 5vw;
    text-align: left;
    width: 50vw;
    height: 50vh;
    margin-bottom: 15vh;
    font-size: 4vh;
    max-width: 600px;
    line-height: 1.2;
    overflow:scroll;
    display:block;
    margin-left: auto;
    margin-right: auto;
    white-space: wrap;
    scroll-snap-align: center;
    
    

  }

 
  .dogm {
    margin-top: 2vh;
    font-size: 70%;
    line-height: 1.1;
    font-family: Baskerville-Italic;
    opacity:0.6;
  }

  .blur {
    filter: blur(2vh);
  }

  a {
    color:black;
    text-decoration: none;
    font-family: Baskerville-Italic;
    font-size: 115%;
  }

  a:hover{
    text-decoration: underline;
    
  }
  .NP{
            position: absolute;
            z-index: 4;
            padding: 10px 5px 10px 5px;
            bottom: 30vh;
            left: 10vw;
            font-size: 2vh;
            text-align: left;
            animation:  float 5s ease-in-out infinite;

  }

 
  @keyframes float {
    50%{transform: scale(1.2);}
  }

 
    #above {
        z-index: 2;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #above-2 {
        z-index: 3;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right auto;
        width: 80vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex-wrap: wrap;
        overflow y: scroll;
        scroll-snap-type: y;
    }
    #above-2:-webkit-scrollbar {
      display: none;
  }
  
      #video-bg{
        z-index: -1;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex-wrap: wrap;
        overflow: scroll;
      }
    #bild {
        height: 100px;
        width: 100px;
    }